.länkar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid #D6001C;
    margin: 5px;
    height: 60px;
}

img{
    max-height: 45%;
    border: 2px solid black;
    padding: 3px;
    margin: 10px;
}

.rubrik{
    display: flex;
    flex-direction: column;
    border: 2px solid #D6001C;
    text-align: center;
    height: 200px;
    /* KAN INTE HITTA HUR MAN FÅR BILDEN ATT STRETCHA SÅ MAN SER HELA. 
    Hittade inget hjälpsamt när jag sökte på det */
    background: url(./img/snow_winter_trees.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    /* Får inte fonten att komma fram??? */
    font-family: "Mountains+of+Christmas", serif;
}

.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid #D6001C;
    padding: 5px;
    gap: 5px;
    margin-top: 5px;
}

.länkar2{
    border: 2px solid #D6001C;
}

.text{
    border: 2px solid #D6001C;
}

.julgran{
    border: 2px solid #D6001C;
    max-width: 100px;
}